<section class="advantages" id="advantages">
  <div class="advantages__container container">
    <div class="advantages__wrapper">
      <div class="advantages__item">
        <div class="advantages__item-number">2000+</div>
        <div class="advantages__item-title">Учеников</div>
      </div>
      <div class="advantages__item">
        <div class="advantages__item-number">30</div>
        <div class="advantages__item-title">Филиалов</div>
      </div>
      <div class="advantages__item">
        <div class="advantages__item-number">2018</div>
        <div class="advantages__item-title">Год основания</div>
      </div>
    </div>
  </div>
</section>
