<section class="faq" id="faq">
  <div class="faq__container container">
    <div class="faq__wrapper">
      <h2 class="faq__title h2-title">Вопросы и ответы</h2>
      <div class="accordion faq__accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Что здесь есть хорошего</span>
          <span class="accordion__icon">
            <svg class="accordion__icon-icon" width="20" height="20">
              <use xlink:href="img/sprite.svg#accordion-icon"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Коробка с инструментами: приложения и сервисы для поиска людей, отслеживания транспортных средств, фактчекинга, обработки данных, визуализации, мониторинга, обеспечения информационной безопасности и другие.
          </p>
        </div>
      </div>
      <div class="accordion faq__accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Как добавлять свой контент</span>
          <span class="accordion__icon">
            <svg class="accordion__icon-icon" width="20" height="20">
              <use xlink:href="img/sprite.svg#accordion-icon"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Коробка с инструментами: приложения и сервисы для поиска людей, отслеживания транспортных средств, фактчекинга, обработки данных, визуализации, мониторинга, обеспечения информационной безопасности и другие.
          </p>
        </div>
      </div>
      <div class="accordion faq__accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Сколько рассматривается заявка?</span>
          <span class="accordion__icon">
            <svg class="accordion__icon-icon" width="20" height="20">
              <use xlink:href="img/sprite.svg#accordion-icon"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Коробка с инструментами: приложения и сервисы для поиска людей, отслеживания транспортных средств, фактчекинга, обработки данных, визуализации, мониторинга, обеспечения информационной безопасности и другие.
          </p>
        </div>
      </div>
      <div class="accordion faq__accordion">
        <button class="accordion__control" aria-expanded="false">
          <span class="accordion__title">Не нашли то, что искали?</span>
          <span class="accordion__icon">
            <svg class="accordion__icon-icon" width="20" height="20">
              <use xlink:href="img/sprite.svg#accordion-icon"></use>
            </svg>
          </span>
        </button>
        <div class="accordion__content" aria-hidden="true">
          <p>
            Коробка с инструментами: приложения и сервисы для поиска людей, отслеживания транспортных средств, фактчекинга, обработки данных, визуализации, мониторинга, обеспечения информационной безопасности и другие.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
