<section class="schedule" id="schedule">
  <div class="schedule__container container">
    <div class="schedule__content-wrapper">
      <h2 class="schedule__title h2-title">Расписание занятий</h2>
      <div class="schedule__timetable">
        <div class="schedule__header">
          <div class="schedule__select">
            <span class="schedule__select-label">Район:</span>
            <select name="area" class="schedule__select-select">
              <option value="Район 1">Район 1</option>
              <option value="Район 2">Район 2</option>
              <option value="Район 3">Район 3</option>
              <option value="Район 4">Район 4</option>
              <option value="Район 5">Район 5</option>
            </select>
          </div>
          <div class="schedule__select">
            <span class="schedule__select-label">Филиал:</span>
            <select name="affiliate" class="schedule__select-select">
              <option value="Филиал 1">Филиал 1</option>
              <option value="Филиал 2">Филиал 2</option>
              <option value="Филиал 3">Филиал 3</option>
              <option value="Филиал 4">Филиал 4</option>
              <option value="Филиал 5">Филиал 5</option>
            </select>
          </div>
          <div class="schedule__select">
            <span class="schedule__select-label">Группа:</span>
            <select name="group" class="schedule__select-select">
              <option value="Группа 1">Группа 1</option>
              <option value="Группа 2">Группа 2</option>
              <option value="Группа 3">Группа 3</option>
              <option value="Группа 4">Группа 4</option>
              <option value="Группа 5">Группа 5</option>
            </select>
          </div>
        </div>
        <div class="schedule__table" data-simplebar>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Понедельник</span></div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Вторник</span></div>
            <div class="schedule__table-item table-item table-item--empty"></div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Среда</span></div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Четверг</span></div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Пятница</span></div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
            <div class="schedule__table-item table-item">
              <div class="table-item__group">2014-2015</div>
              <div class="table-item__time">17:00</div>
              <div class="table-item__location">ул. Изумрудный городок</div>
            </div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Суббота</span></div>
            <div class="schedule__table-item table-item table-item--empty"></div>
          </div>
          <div class="schedule__column">
            <div class="schedule__table-head"><span>Воскресенье</span></div>
            <div class="schedule__table-item table-item table-item--empty"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
