<section class="steps">
  <div class="steps__container container">
    <h2 class="steps__title h2-title">Этапы развития в клубе</h2>
    <div class="steps__grid">
      <article class="steps__item step step--large">
        <div class="step__header">
          <div class="step__label">Этап&nbsp; 1</div>
          <div class="step__icon">
            <svg class="step__icon-svg" width="40" height="40">
              <use xlink:href="img/sprite.svg#step-icon"></use>
            </svg>
          </div>
        </div>
        <h3 class="step__title">Пробное занятие</h3>
        <p class="step__descr">На пробном занятии тренер определяет уровень подготовки ребенка и физические данные. Внимательно разделяет по возрастным категориям и навыкам. И определяет в подгруппу. </p>
        <div class="step__full-info">
          <p>Мы тщательно подходим к атмосфере в команде. Детям должно быть комфортно заниматься вместе. Поэтому, грамотное разделение по возрастным группам – особо важная задача.</p>
          <p>С трех лет дети уже начинают участвовать в наших внутренних турнирах-фестивалях. </p>
        </div>
      </article>
      <article class="steps__item step step--small">
        <div class="step__header">
          <div class="step__label">Этап&nbsp; 2</div>
          <div class="step__icon">
            <svg class="step__icon-svg" width="40" height="40">
              <use xlink:href="img/sprite.svg#step-icon"></use>
            </svg>
          </div>
        </div>
        <h3 class="step__title">Сборные клуба</h3>
        <p class="step__descr">С шести лет более опытные и перспективные ребята попадают в сборные клуба, согласно своего возраст.</p>
        <div class="step__full-info">
          <p>Их уже ждут региональные турниры. Первенство города. И множество других турниров. Здесь родитель уже понимает, что футбол в их жизни становится N1.</p>
        </div>
      </article>
      <article class="steps__item step step--small">
        <div class="step__header">
          <div class="step__label">Этап&nbsp; 3</div>
          <div class="step__icon">
            <svg class="step__icon-svg" width="40" height="40">
              <use xlink:href="img/sprite.svg#step-icon"></use>
            </svg>
          </div>
        </div>
        <h3 class="step__title">Просмотр тренировок</h3>
        <p class="step__descr">Тренировки сборных команд всегда просматривает спортивный директор Академии «Локомотив» (Москва) в видео-формате.</p>
        <div class="step__full-info">
          <p>Лучших, по нашему обоюдному решению, приглашают на просмотр и недельный микроцикл в Москву, где дети раскрываются и еще больше проявляют себя, свои таланты и профессиональные навыки.</p>
        </div>
      </article>
      <article class="steps__item step step--large">
        <div class="step__header">
          <div class="step__label">Этап&nbsp; 4</div>
        </div>
        <h3 class="step__title">Большой футбол</h3>
        <p class="step__descr">А дальше появляется шанс у каждого попасть в большой футбол и стать звездой мирового уровня!</p>
      </article>
    </div>
    <a class="steps__link gradient-button" href="/commands.html/">Сборные команды клуба</a>
  </div>
</section>
