<section class="team" id="team">
  <div class="team__container container">
    <div class="team__wrapper">
      <h2 class="team__title h2-title">Наша команда</h2>
      <div class="team__big-item team-member team-member--big">
        <div class="team-member__image">
          <img loading="lazy" src="img/team/team-member-1.jpg" class="team-member__image-image" width="590" height="590" alt="Новоградская Ксения Игоревна">
        </div>
        <div class="team-member__content">
          <div class="team-member__label">Директор</div>
          <div class="team-member__title">Новоградская Ксения Игоревна</div>
          <div class="team-member__descr">
            <p>
              В футбол я пришла около шести лет назад (тогда работая в другом клубе).
              Клубу Джуниор - четвертый год, за эти четыре года все клиенты нашей школы для меня стали словно родные люди. А дети наших клиентов - словно это мои дети.
              Я очень дорожу нашим великолепным коллективом и на столько счастлива, что все вместе мы смогли стать школой НОМЕР ОДИН в Новосибирске! Наши одни из главных ценностей: открытость и вовлеченность.
            </p>
            <p>
              Мы вегда говорим:<br>
              «Все лучшее - детям!<br>
              За качество отвечаем!»
            </p>
            <p>
              И это действительно так! Приходите и сами все увидите!
            </p>
          </div>
        </div>
      </div>
      <div class="swiper team__slider slider">
        <div class="swiper-wrapper team__slider-wrapper slider__wrapper">
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
           <div class="swiper-slide team__item team-member slider__item">
            <div class="team-member__image">
              <img loading="lazy" src="img/team/team-member-2.jpg" class="team-member__image-image" width="285" height="285" alt="Новоградский Алексей Петрович">
            </div>
            <div class="team-member__content">
              <div class="team-member__label">Директор по развитию</div>
              <div class="team-member__title">Новоградский Алексей Петрович</div>
              <button class="btn-reset team-member__button hover-gradient" data-graph-path="team-member-modal"><span data-text="Подробнее →">Подробнее →</span></button>
            </div>
           </div>
        </div>
      </div>
      <div class="slider__controlls">
        <div class="swiper-button-prev slider__button slider__button--prev">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="1" y="0.5" width="23" height="23" rx="11.5" stroke="currentColor"/>
            <path d="M14 8L10 12L14 16" stroke="currentColor"/>
          </svg>
        </div>
        <div class="swiper-pagination slider__fraction"></div>
        <div class="swiper-button-next slider__button slider__button--next">
          <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="24" y="23.5" width="23" height="23" rx="11.5" transform="rotate(-180 24 23.5)" stroke="currentColor"/>
            <path d="M11 16L15 12L11 8" stroke="currentColor"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
