<section class="why-us">
  <div class="why-us__container container">
    <h2 class="why-us__title h2-title">Почему Джуниор</h2>
    <div class="why-us__list">
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизниШкола жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределамиМы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
      <div class="why-us__item">
        <img loading="lazy" src="img/why-us/why-us__icon-1.svg" class="why-us__item-icon" width="80" height="80" alt="Иконка элемента">
        <h3 class="why-us__item-title">Школа жизни</h3>
        <p class="why-us__item-descr">Мы не просто секция. Для учеников мы являемся наставниками и друзьями одновременно не только на площадке, но и за её пределами</p>
      </div>
    </div>
  </div>
</section>
