.advantages {
  margin-bottom: 80px;

  &__container {
    @include tablet {
      padding: 0;
    }

    @include mobile {
      padding: 0 20px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 40px;
    padding: 80px 60px;
    background: linear-gradient(289.54deg, #0b4c8e 10.43%, #23a4db 96.95%);

    @include mobile {
      grid-template-columns: 1fr;
      padding: 60px 40px;
      row-gap: 80px;
    }
  }

  &__item {
    margin: 0 auto;
    width: fit-content;

    &-number {
      font-family: var(--font-family-second);
      font-weight: 400;
      font-size: 100px;
      line-height: 100%;
      text-align: center;
      color: var(--light-color);

      @include tablet {
        font-size: 70px;
      }
    }

    &-title {
      font-size: 20px;
      color: var(--light-color);

      @include tablet {
        text-align: center;
      }
    }
  }
}
