.news {
  margin-bottom: 80px;

  &__container {
    padding: 0 calc(var(--container-offset) + 60px);

    @include tablet {
      padding: 0 40px;
    }

    @include small-tablet {
      padding: 0 1px;
    }
  }

  &__title {
    margin-bottom: 50px;
    text-align: left;

    @include small-tablet {
      padding: 0 40px;
    }

    @include mobile {
      margin-bottom: 40px;
      padding: 0 20px;
      text-align: center;
    }
  }

  @include mobile {
    margin-bottom: 60px;
  }
}
